@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-image: url(src/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: auto 100vh;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

aside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1;
}

.texto{
    max-width: 720px;
    color: white;
}

h1{
    font-size: 30px;
    font-weight: 900;
}

p{
    max-width: 720px;
    font-size: 20px;
    font-weight: 400;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    gap: 20px;
    width: 652.8px;
    height: 700px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

input{
    width: 500px;
    border: solid black 2px;
    width: 90%;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder{
    font-size: 20px;
}

textarea{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    border: solid black 2px;
    font-size: 20px;
    padding: 10px;
}

textarea::placeholder{
    font-size: 20px;
}

button{
    background-color: #3CCC87;
    border: none;
    color: white;
    padding: 10px 20px;margin-top: -25px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 60px;
}

.aviso{
    color: red;
    font-size: 11px;
    display: none;
    position: relative;
    margin-top: -25px;
    margin-left: -29rem;
}

.notificacao{
    margin-top: -20px;
    margin-left: -23rem;
}

.borda-vermelha{
    border: solid red 2px;
}

.borda-verde{
    border: solid green 2px;
}